DATABASE_URL=postgresql://postgres:your_password@127.0.0.1:5432/llm_search_engine
VITE_GOOGLE_CLIENT_ID=your_google_client_id_here
JWT_SECRET_KEY=your_secret_key_here
PINECONE_API_KEY=your_pinecone_api_key_here
GOOGLE_API_KEY=your_google_api_key_here
